body {
  font-family: 'Marvel', sans-serif;
  background-image: url('/background.jpeg');
  background-repeat: no-repeat;
  background-position-x: center;
  height: 100%;
  background-color: black;
}

.header {
  width: 100%;
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    img {
      content: url('/logo.png');
    }
  }
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
