body {
  font-family: 'Marvel', sans-serif;
  background-image: url('./background.jpeg');
  background-repeat: no-repeat;
}

.header {
  .logo {
  
  }
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
