@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// @font-face {
//     src: url('./avengeance/AVENGEANCE\ HEROIC\ AVENGER.ttf') format('ttf');
//     font-family: 'header';
// }

$primary: rgb(9, 125, 167);
$secondary: #EC770F;
$danger: #96181C;
$warning: #F9FE03;

$theme-colors: ('primary': $primary,
'secondary': $secondary,
'danger': $danger,
);

@import "~bootstrap/scss/bootstrap";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'header'
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-container {
    height: 100%;
    width: 100%;
}

#app {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    @extend .center;
    @extend .full-container;
    background-image: url('/background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    background-color: black;
}

.header {
    width: 100%;
    height: 15%;
    @extend .center;

    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        // padding: 10rem 0 3rem 0;

        img {
            content: url('/logo.png');
        }
    }
}

a {
    text-decoration: none;
}

label {
    display: block;
}

nav a {
    display: inline-block;
    margin: 1em;
}

form div {
    margin: 1em;
    display: inline-block;
}

.card {
    border: 1px solid black;
}

.initial-loader-wrapper {
    background-color: black;
    @extend .center;
    @extend .full-container;
    height: 20rem;
    width: calc(100% + 2rem);
    margin: 2rem;
    color: white;
    padding: 1.5rem;
    flex-direction: column;
    transition: all 2s ease;

    &.continue-anyways {
        height: 7rem;
        width: 15rem;
        top: 0;
        right: 0;
        position: absolute;
        // padding: .2rem;

        .progress-barr {
            width: 10rem;
            margin-bottom: 0
        }

        .loading {
            // transform: translateY(20px);
            opacity: 0;
            height: 0;
        }

        .disappear {
            opacity: 0;
        }
    }

    .progress-barr {
        width: 20rem;
        height: 1rem;
        transition: all 2s ease;
        margin-bottom: .5rem;
    }

    .disappear {
        transition: all 2s ease;
    }
}

.body {
    height: 80%;
    width: 100%;

    .characters-body {
        border: 2px solid black;
        background-color: rgba(#ffffff, .8);
        transform: perspective(1) scaleZ(1) rotateY(0deg);
        transition: transform 1s ease;
        width: 100%;
        height: 100%;

        .row {
            margin: 1rem 0;
        }

        &.flip {
            transform: perspective(200rem) scaleZ(2) rotateY(180deg);

            .characters-gird {
                opacity: 0;
                width: 0;
            }
        }

        .characters-grid {
            transition: opacity .5s ease width .5s ease;
            height: 100%;
            display: flex;
            flex-direction: column;

            .character-card {
                @extend .center;
                transition: all .5s ease;
                @extend .text-truncate;
                // transform: scale(1, 1);

                img {
                    width: 100%;
                    height: inherit;
                }

                &:hover {
                    background-color: rgba(#000, .6);
                    color: white;
                    width: calc(100% + 1rem);
                    transform: scale(1.05, 1.05);
                    margin: -calc(15/2)px;
                }
            }
        }

        .search {
            margin: 0;
            .input-group {
                margin: 0;
            }
        }
    }
}

.footer {
    height: 5%;
}

.alignment-header {
    width: 100%;
    @extend .center;
    margin-bottom: 2rem;

    .bad {
        content: url('/villians.png');
    }

    .good {
        content: url('/heroes.png');
    }
}

img {
    &.loading {
        content: url('/loading.png');
        transition: all 2s ease;
        transition: all 2s ease;
        // transform: translateY(0);
        opacity: 1;
    }
}

.unclickable {
    pointer-events: none;
}
.overflow-scroll {
    overflow: scroll;
}
